USE [master]
GO
/****** Object:  Database [TriangleDB]    Script Date: 5/02/2020 7:18:01 pm ******/
CREATE DATABASE [TriangleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TriangleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TriangleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TriangleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TriangleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TriangleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TriangleDB]
GO
/****** Object:  Table [dbo].[Triangles]    Script Date: 5/02/2020 7:18:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Triangles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Length 1] [nvarchar](50) NOT NULL,
	[Length 2] [nvarchar](50) NOT NULL,
	[Length 3] [nvarchar](50) NOT NULL,
	[Equilateral] [bit] NOT NULL,
	[Isosceles] [bit] NOT NULL,
	[Scalene] [bit] NOT NULL,
	[Right Angle] [bit] NOT NULL,
	[Publish Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
